<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <!-- Contenido común (navbar, etc.) -->
    @RenderBody()  <!-- ESTA ES LA LÍNEA IMPORTANTE -->
    <!-- Footer u otros elementos comunes -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>